<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>68383107291-bsl85lt4t5hrcsvrom1m2tnqciv0braf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.68383107291-bsl85lt4t5hrcsvrom1m2tnqciv0braf</string>
	<key>API_KEY</key>
	<string>AIzaSyBqZ6dl8AGoRNBYYSUuBQsvwK81WrLlKFg</string>
	<key>GCM_SENDER_ID</key>
	<string>68383107291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maxjala.ContactList</string>
	<key>PROJECT_ID</key>
	<string>contactlist-3b638</string>
	<key>STORAGE_BUCKET</key>
	<string>contactlist-3b638.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:68383107291:ios:8e58c72b133f67ab</string>
	<key>DATABASE_URL</key>
	<string>https://contactlist-3b638.firebaseio.com</string>
</dict>
</plist>